export ROOT=$(pwd)
layout pipenv
PATH_add ./scripts

export PYTHONBREAKPOINT=IPython.embed
export BAT_THEME="Solarized (light)"
# export BAT_THEME="Solarized (dark)"

# echo vim -c "set background=light"
# echo vifm -c "colorscheme solarized-light"
# bat --theme "Solarized (light)" README.md
# git diff Makefile | delta -s --syntax-theme "Solarized (light)"
echo "shell scripts: $(ls -C scripts/)"
