[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
yapf = "*"
flake8 = "*"
ipywidgets = "*"
voila = "*"
faker = "*"
qgrid = "*"
statsmodels = "*"
jupytext = "*"
sqlalchemy = "*"
pyarrow = "*"
psutil = "*"
modin = {extras = ["ray"],version = "*"}

[requires]
python_version = "3.6"
