[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
ipython = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
yapf = "*"
flake8 = "*"
ipywidgets = "*"
voila = "*"
panel = "*"
requests = "*"
hvplot = "*"
faker = "*"
qgrid = "*"

[requires]
python_version = "3.6"
